.places__paragraph {
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    margin-bottom:0;
    padding-bottom:27px;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}