.header__lang-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    color: white;
    font-family: Inter, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.header__lang-link :hover {
    text-decoration: none;
    margin-right: 0;
}


@media screen and (max-width:320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        justify-content: flex-end;
    }
}