.cover__subtitle {
    max-width: 360px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    position: relative;
    margin: 32px auto;
    color: #FFFFFF;
    z-index: 2;
    font-size: 18px;
    line-height: 26px;

}

@media screen and (max-width:320px) {
    .cover__subtitle {
        max-width: 288px;
        margin: 0 auto;
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
}