.footer__links {
    display: flex;
    margin: auto;
    padding: 0;
}

@media screen and (max-width:768px) {
    .footer__links {
        flex-direction: row;
    }
}

@media screen and (max-width:320px) {
    .footer__links {
        flex-direction: column;
        min-height: 248px;
        justify-content: space-between;
        margin: 0;
    }
}