.footer__copyright {
    max-width: 200px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    font-family: Inter, Arial, sans-serif;
    color: #FFFFFF;
    text-align: right;
}

@media screen and (max-width:480px) {
    .footer__copyright {
        font-size: 6px;
    }

}

@media screen and (max-width:420px) {
    .footer__copyright {
        font-size: 10px;
    }

}

@media screen and (max-width:320px) {
    .footer__copyright {
        margin-top: 48px;
        max-width: 250px;
        text-align: left;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 24px;
    }
}