.footer {
    max-width: 1184px;
    min-height: 18px;
    display: flex;
    margin: 92px 48px 0 48px;
    justify-content: space-between;
    padding-bottom: 24px;
    position: relative;
}

@media screen and (max-width:1440px) {
    .footer {
        margin: 0 auto;
        margin-top: 92px;
    }
}

@media screen and (max-width:1024px) {
    .footer {
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width:768px) {
    .footer {
        margin: 88px 24px 0 24px;
        flex-direction: row;
        max-width: 720px;
    }
}

@media screen and (max-width:480px) {
    .footer {
        margin: 0 auto;
        margin-top: 78px;
    }

}

@media screen and (max-width:420px) {
    .footer {
        margin: 0;
        margin-top: 68px;
        padding: 0 10px 0 10px;
    }
}


@media screen and (max-width:320px) {
    .footer {
        max-width: 200px;
        margin-left: 16px;
        margin-top: 64px;
        flex-direction: column;
    }
}