.places__website {
    align-self: flex-end;
    max-width: 456px;
    margin: 0 auto;
    margin-left: 40px;
}

@media screen and (max-width:768px) {
    .places__website {
        max-width: 352px;
        display: block;
        text-align: left;
        margin-left: 28px;
    }
}

@media screen and (max-width: 480px) {
    .places__website {
        max-width: 250px;
    }
}

@media screen and (max-width:320px) {
    .places__website {
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 32px;
        max-width: 288px;
    }
}